<div class="col-md-4">
    <div class="card card-profile">
        <div class="content">
            <a href="#">
                <img class="img" height="300px" src="${imagem}"/>
            </a>
        </div>
    </div>
</div>