<!doctype html>
<html>
<head>
    <meta name="layout" content="main"/>
    <title>Patrocinadores</title>
</head>

<body>
<div class="col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="green">
            <h4 class="title">Patrocinadores</h4>
            <p class="category">Você pode cadastrar, editar, exluir ou deletar patrocinadores por aqui</p>
            <g:link action="form">
                <i class="material-icons">add</i>Cadastrar novo patrocinador</g:link>
        </div>

        <div class="card-content table-responsive">
            <table class="table">
                <thead class="text-primary">
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Editar</th>
                <th>Excluir</th>
                </thead>
                <tbody>
                <g:each in="${patrocinadores}">
                    <tr>
                        <td>${it.nome}</td>
                        <td>${it.email}</td>
                        <td>${it.telefone}</td>
                        <td>
                            <g:link action="form" id="${it.id}">
                                <i class="material-icons">edit</i></g:link>

                        </td>
                        <td>
                            <g:link action="delete" id="${it.id}" onclick="return confirm('Tem certeza?');">
                                <i class="material-icons">delete forever</i></g:link>
                        </td>
                    </tr>
                </g:each>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>