<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main.gsp"/>
    <title>Controlar Usuários</title>
</head>
<body>
<div class="col-md-12">
    <div class = "text-center" >
        <h1>Sua duvida será respondida e um email será enviado para você!</h1>
    </div>
</div>

</body>

</html>