<!doctype html>
<html>
<head>
    <meta name="layout" content="main" />
    <title>Não autorizado</title>
</head>
<body>
    <h1 class="text-center">Você não possui autorização para acessar essa pagina</h1>
</body>
</html>